<nav class="nav navbar-expand-lg ">
  <div class="menu">
    <a class="nav-item float-right" (click)="logout()" >
      logout
    </a>
  </div>

</nav>
<h1> Mi Lista De Tareas</h1>
<div class="tasklist">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks"><input type="checkbox" [checked]="task.taken == 1" onclick="return false;">
      {{task.description}}
      <i class="fa fa-edit" (click)="open(content,task.id)"></i> <i (click)="deleteTask(task.id)" class="fa fa-trash-o"></i>
    </li>
  </ul>
  <button (click)="open(content, null)"class="btn btn-lg btn-primary">Nueva Tarea</button>

</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Nueva Tarea</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form ngForm>
      <div class="form-group">
        <label for="titulo">Descripcion</label>
        <input type="text" class="form-control" id="titulo"  name="description" [(ngModel)]="task.description">
      </div>
    </form>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Enviar</button>
  </div>
</ng-template>
