<nav class="nav navbar-expand-lg ">
  <div class="menu">
    <a class="nav-item float-right" (click)="logout()" >
      logout
    </a>
  </div>

</nav>
<h1> Mi Lista De Tareas</h1>
<div class="tasklist">
  <ul class="list-group">
    <input type="checkbox" checked> <li class="list-group-item">Cras justo odio    <i class="fa fa-edit"></i> <i class="fa fa-trash-o"></i></li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <button class="btn btn-lg btn-primary">Nueva Tarea</button>
</div>
